{% extends 'dashboard/index.html' %}
{% load staticfiles %}


{% block content %}
<div id="page-wrapper">
<div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Data Staff <small>Semua Data Staff</small>
                        </h1>
                        <ol class="breadcrumb">
                        <li>
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                            <li >
                                <i class=""></i> Staff
                            </li>
                            <li class="active">
                                <i class=""></i> Staff Informatika
                            </li>
                        </ol>
                    </div>


                    <div class="col-lg-12">
                     <a href="{% url 'dashboard:tambah_staff' %}" class="btn btn-primary"><i class="fa fa-plus"></i>Tambah Staff</a><br/><br/>
               
                <div class="table-responsive">
                    <table class="table">
                        <tr class="info">
                            <td><strong>No</strong></td>
                            <td><strong>Nama</strong></td>
                            <td><strong>NIDN</strong></td>
                            <td><strong>Gelar Pendidikan</strong></td>
                            <td><strong>Bidang Keahlian</strong></td>
                            <td><strong>Option</strong></td>
                            
                        </tr>
                        {% for dt in staff  %}
                        <tr class="default">
                            <td>{{forloop.counter}}</td>
                            <td>{{dt.nama}}</td>
                            <td>{{dt.nidn}}</td>
                            <td>{{dt.pendidikan2}}</td>
                            <td>{{dt.bidang_keahlian2}}</td>
                            <td><a href="{% url 'dashboard:detail_staff' dt.id %}" class="btn btn-primary"><i class="fa fa-eye"></i></a> <a href="{% url 'dashboard:hapus_staff' dt.id %}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                            </td>

                        </tr>
                         {% endfor %}
                         
                    </table>
                    </div>


                   
                </div>
               

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>

    <!-- /#wrapper -->
{% endblock content %}