{% extends 'dashboard/index.html' %}
{% load staticfiles %}


{% block content %}
<div id="page-wrapper">
<div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                        <li>
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                            <li >
                                <i class=""></i> Gallery
                            </li>
                            <li class="active">
                                <i class=""></i> Detail Gallery
                            </li>

                        </ol>
                        <h1 class="page-header">
                            Gallery <small>Semua Dokumentasi Gallery</small>
                        </h1>
                    </div>
                    <div class="col-lg-12">
                    <div class="panel panel-body">
                    <div class="col-lg-6">
                    <img src="{{obj.image.url}}" height="300" width="300">

                    </div>
                    <div class="col-lg-6">
                        <h5>Judul : {{obj.judul}}</h5>
                        <h5>Caption : {{obj.caption}}</h5>
                    </div>


                    </div>


                    </div>





                </div>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>

    <!-- /#wrapper -->
{% endblock content %}
