{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block content %}
<div id="page-wrapper">
<div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                        <li>
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                            <li >
                                <i class=""></i> Gallery
                            </li>
                            <li class="active">
                                <i class=""></i> Tambah Gallery
                            </li>
                        </ol>
                        <h1 class="page-header">
                            Manajemen Gallery <small>Semua Dokumentasi Informatika</small>
                        </h1>
                    </div>
                    <div class="col-lg-12">
                    <div class="panel-body">
                        <form method="POST" action="" enctype="multipart/form-data">

                            {% csrf_token %}
                            {{ form_gallery | crispy }}
                            <input type="submit" class="btn btn-primary" value="Simpan">
                            <!--<script>alert("Terima Kasih sudah mendaftar beasiswa, {{ user }}")</script>-->

                        </form>
                    </div>


                    </div>



                </div>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>

    <!-- /#wrapper -->
{% endblock content %}
