{% extends 'dashboard/index.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block content %}
<div id="page-wrapper">
<div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                        <li>
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                            <li class="active">
                                <i class=""></i> Umum
                            </li>
                        </ol>
                        <h1 class="page-header">
                            <i class="fa fa-cloud-download" aria-hidden="true"></i> Downloadable Dokumen <small></small>
                        </h1>
                    </div>
                    <div class="col-lg-12">
                    <a href="{% url 'dashboard:tambah_dokumen' %}" class="btn btn-primary"><i class="fa fa-plus"></i> Tambah Dokumen</a>
                     {% for dokumen in dokumen %}
                     
                    <div class="panel-body">                         
                            <h4>Deskripsi : {{dokumen.keterangan}}</h4>
                            <h4>File : <a href="{{dokumen.file.url}}"><i class="fa fa-cloud-download" aria-hidden="true"></i> {{dokumen.deskripsi}}</a></h4>
                            <h4>Posted : {{dokumen.tanggal}}</h4>
                           
                    </div>
                    <div class="page-footer">
                     <a href="{% url 'dashboard:edit_dokumen' dokumen.id %}" class="btn btn-warning"><i class="fa fa-edit"> Dokumen {{dokumen.deskripsi}}</i></a>  <a href="{% url 'dashboard:hapus_dokumen' dokumen.id %}" class="btn btn-danger"><i class="fa fa-trash"> Dokumen {{dokumen.deskripsi}}</i></a>
                     </div>
                   
                    {% endfor %}


                    </div>



                </div>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>

    <!-- /#wrapper -->
{% endblock content %}
