{% extends 'dashboard/base.html' %}
{% load staticfiles %}


{% block content %}
<div id="page-wrapper">
<div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                        <li>
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                            <li >
                                <i class=""></i> Halaman
                            </li>
                            <li class="active">
                                <i class=""></i> UKM
                            </li>
                        </ol>
                        <h1 class="page-header">
                            Manajemen UKM <small>Pengubahan URL Link Website UKM</small>
                        </h1>
                    </div>
                    <div class="col-lg-12">
                    <a href="{% url 'dashboard:tambah_link' %}" class="btn btn-primary"><i class="fa fa-plus"></i> Tambah LINK </a> <br /><br />
                    <div class="panel panel-default">
                    <div class="panel-heading"><h4>Link UKM</h4></div>
                    <div class="panel-body">
                    {% for dt in ukm %}
                        <h5>Link Fosti : {{dt.link_fosti}}</h5>
                        <h5>Link Himatif : {{dt.link_himatif}}</h5>
                        <a href="{% url 'dashboard:edit_ukm' dt.id %}" class="btn btn-warning"><i class="fa fa-edit"></i> Edit LINK </a>
                    {% endfor %}
                    </div>
                    </div>


              </div>



                    </div>

            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>

    <!-- /#wrapper -->
{% endblock content %}
