{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Prodi Informatika UMS</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />

    {% block css %}
    {% endblock css %}
    <script src="https://use.fontawesome.com/03ed5c9479.js"></script>
</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home:home' %}">
                    <img alt="Brand" src="{% static 'img/informatika1.png' %}">
                </a>

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown dropdown-large">
                    				<a class="dropdown-toggle" data-toggle="dropdown">PROFIL </a>
                    				<ul class="dropdown-menu dropdown-menu-large row">
                    					<li class="col-sm-6">
                    						<ul>
                    							<li class="dropdown-header">Profil Informatika</li>
                                  <li class="divider"></li>
                    							<li><a href="{% url 'home:identitas' %}">Tentang Informatika UMS</a></li>
                                  <li><a href="{% url 'home:profil' %}">Profil Prodi</a></li>
                    							<li><a href="{% url 'home:visi' %}">Visi dan Misi</a></li>
                    							<li><a href="{% url 'home:prestasi' %}">Prestasi</a></li>
                    						</ul>
                    					</li>
                    					<li class="col-sm-6">
                    						<ul>
                    							<li class="dropdown-header">Profil Staff Informatika</li>
                                  <li class="divider"></li>
                    							<li><a href="{% url 'home:staff' %}">Staff dan Pengajar</a></li>
                    						</ul>
                    					</li>
                    				</ul>
                    			</li>
                          <li class="dropdown dropdown-large">
                                  <a class="dropdown-toggle" data-toggle="dropdown">BERITA </a>
                                  <ul class="dropdown-menu dropdown-menu-large row">
                                    <li class="col-sm-6">
                                      <ul>
                                        <li class="dropdown-header">Informasi</li>
                                        <li class="divider"></li>
                                        <li><a href="{% url 'home:berita' %}">Berita</a></li>
                                        <li><a href="">Pengumuman</a></li>
                                      </ul>
                                    </li>
                                    <li class="col-sm-6">
                                      <ul>
                                        <li class="dropdown-header">Media</li>
                                        <li class="divider"></li>
                                        <li><a href="{% url 'home:galeri' %}">Galeri</a></li>
                                      </ul>
                                    </li>
                                  </ul>
                                </li>
                    <li class="dropdown dropdown-large">
                    				<a href="#" class="dropdown-toggle" data-toggle="dropdown">AKADEMIK</a>
                    				<ul class="dropdown-menu dropdown-menu-large row">
                    					<li class="col-sm-6">
                    						<ul>
                    							<li class="dropdown-header">Kurikulum</li>
                                  <li class="divider"></li>
                    							<li><a href="{% url 'home:kurikulum' %}">Kurikulum Informatika</a></li>
                    						</ul>
                    					</li>
                    					<li class="col-sm-6">
                    						<ul>
                    							<li class="dropdown-header">Downloadable</li>
                                  <li class="divider"></li>
                    							<li><a href="#">Kalender Akademik</a></li>
                    							<li><a href="#">Daftar Mata Kuliah</a></li>
                    						</ul>
                    					</li>
                    				</ul>
                    			</li>
                      <li class="dropdown dropdown-large">
                      				<a href="#" class="dropdown-toggle" data-toggle="dropdown">UKM </a>
                      				<ul class="dropdown-menu dropdown-menu-large row">
                      					<li class="col-sm-6">
                      						<ul>
                      							<li class="dropdown-header">Unit Kegiatan Mahasiswa</li>
                                    <li class="divider"></li>
                      							<li><a href="{% url 'home:fosti' %}">Fosti</a></li>
                      						</ul>
                      					</li>
                      					<li class="col-sm-6">
                      						<ul>
                      							<li class="dropdown-header">Himpunan Mahasiswa Prodi</li>
                                    <li class="divider"></li>
                                    <li><a href="{% url 'home:himatif' %}">HIMATIF</a></li>
                      						</ul>
                      					</li>
                      				</ul>
                      			</li>
                    <li><a href="{% url 'home:alumni' %}">ALUMNI</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>

    <!-- content -->
    {% block content %}
    {% endblock content %}
    <!-- end content -->

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 footerleft ">
            <div class="logofooter"> <img src="{% static 'img/informatika1.png' %}" /></div>
            <p class="">Program Studi Informatika Universitas Muhammadiyah Surakarta, Bagian dari Fakultas Komunikasi dan Informatika Universitas Muhammadiyah Surakarta. Terletak di Kampus 2 UMS.</p>
            <p><i class="fa fa-map-pin"></i> JL. A Yani Tromol Pos 1 Pabelan Kartasura</p>
            <p><i class="fa fa-phone"></i> Phone (Indonesia) : +62 9999 878 398</p>
            <p><i class="fa fa-envelope"></i> E-mail : admin@informatika.ums.ac.id</p>

          </div>
          <div class="col-md-4 col-sm-6 paddingtop-bottom">
            <h6 class="heading7">GENERAL LINKS</h6>
            <ul class="footer-ul">
              <li><a href="#"> Career</a></li>
              <li><a href="#"> Privacy Policy</a></li>
              <li><a href="#"> Terms & Conditions</a></li>
              <li><a href="#"> Client Gateway</a></li>
              <li><a href="#"> Ranking</a></li>
              <li><a href="#"> Case Studies</a></li>
              <li><a href="#"> Frequently Ask Questions</a></li>
            </ul>
          </div>

          <div class="col-md-3 col-sm-6 paddingtop-bottom">
            <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
              <div class="fb-xfbml-parse-ignore">
                <blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--footer start from here-->

    <div class="copyright">
      <div class="container">
        <div class="col-md-6">
          <p>© 2017 - Informatika UMS</p>
        </div>
        <div class="col-md-6">

        </div>
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/dropdown.js' %}"></script>
    <!-- <script src="{% static 'js/scroll.js' %}"></script> -->
    {% block scripts %}
    {% endblock scripts %}



</body>

</html>
