{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Prodi Informatika UMS</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />

    {% block css %}
    {% endblock css %}
    <script src="https://use.fontawesome.com/03ed5c9479.js"></script>
</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="{% static 'img/informatika1.png' %}">
                </a>

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <!-- <li class="{% if actnav == 'beranda'%}active{% endif %}"><a href="{% url 'home:home' %}">BERANDA<span class="sr-only">(current)</span></a></li> -->
                    <!-- <li><a href="{% url 'home:profil' %}">PROFIL</a></li> -->
                    <li class="dropdown dropdown-large">
                    				<a href="#" class="dropdown-toggle" data-toggle="dropdown">PROFIL </a>

                    				<ul class="dropdown-menu dropdown-menu-large row">
                    					<li class="col-sm-3">
                    						<ul>
                    							<li class="dropdown-header">Glyphicons</li>
                    							<li><a href="#">Available glyphs</a></li>
                    							<li class="disabled"><a href="#">How to use</a></li>
                    							<li><a href="#">Examples</a></li>
                    							<li class="divider"></li>
                    							<li class="dropdown-header">Dropdowns</li>
                    						  <li><a href="#">Alignment options</a></li>
                    							<li><a href="#">Headers</a></li>
                    							<li><a href="#">Disabled menu items</a></li>
                    						</ul>
                    					</li>
                    					<li class="col-sm-3">
                    						<ul>
                    							<li class="dropdown-header">Button groups</li>
                    							<li><a href="#">Basic example</a></li>
                    							<li><a href="#">Button toolbar</a></li>
                    							<li><a href="#">Sizing</a></li>
                    							<li><a href="#">Nesting</a></li>
                    							<li><a href="#">Vertical variation</a></li>
                    							<li class="divider"></li>
                    							<li class="dropdown-header">Button dropdowns</li>
                    							<li><a href="#">Single button dropdowns</a></li>
                    						</ul>
                    					</li>
                    					<li class="col-sm-3">
                    						<ul>
                    							<li class="dropdown-header">Input groups</li>
                    							<li><a href="#">Basic example</a></li>
                    							<li><a href="#">Sizing</a></li>
                    							<li><a href="#">Checkboxes and radio addons</a></li>
                    							<li class="divider"></li>
                    							<li class="dropdown-header">Navs</li>
                    							<li><a href="#">Tabs</a></li>
                    							<li><a href="#">Pills</a></li>
                    							<li><a href="#">Justified</a></li>
                    						</ul>
                    					</li>
                    					<li class="col-sm-3">
                    						<ul>
                    							<li class="dropdown-header">Navbar</li>
                    							<li><a href="#">Default navbar</a></li>
                    							<li><a href="#">Buttons</a></li>
                    							<li><a href="#">Text</a></li>
                    							<li><a href="#">Non-nav links</a></li>
                    							<li><a href="#">Component alignment</a></li>
                    							<li><a href="#">Fixed to top</a></li>
                    							<li><a href="#">Fixed to bottom</a></li>
                    							<li><a href="#">Static top</a></li>
                    							<li><a href="#">Inverted navbar</a></li>
                    						</ul>
                    					</li>
                    				</ul>

                    			</li>

                    <li><a href="{% url 'home:profil' %}">STAFF</a></li>
                    <li><a href="{% url 'home:kurikulum' %}">KURIKULUM</a></li>
                    <li class="dropdown">
                        <a href="{% url 'home:ukm' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">UKM <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'home:alumni' %}">ALUMNI</a></li>
                </ul>


            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>

    {% block content %}
    {% endblock content %}

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 footerleft ">
            <div class="logofooter"> <img src="{% static 'img/informatika1.png' %}" /></div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
            <p><i class="fa fa-map-pin"></i> JL. A Yani Tromol Pos 1 Pabelan Kartasura</p>
            <p><i class="fa fa-phone"></i> Phone (Indonesia) : +62 9999 878 398</p>
            <p><i class="fa fa-envelope"></i> E-mail : admin@informatika.ums.ac.id</p>

          </div>
          <div class="col-md-2 col-sm-6 paddingtop-bottom">
            <h6 class="heading7">GENERAL LINKS</h6>
            <ul class="footer-ul">
              <li><a href="#"> Career</a></li>
              <li><a href="#"> Privacy Policy</a></li>
              <li><a href="#"> Terms & Conditions</a></li>
              <li><a href="#"> Client Gateway</a></li>
              <li><a href="#"> Ranking</a></li>
              <li><a href="#"> Case Studies</a></li>
              <li><a href="#"> Frequently Ask Questions</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6 paddingtop-bottom">
            <h6 class="heading7">LATEST POST</h6>
            <div class="post">
              <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
              <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
              <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 paddingtop-bottom">
            <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
              <div class="fb-xfbml-parse-ignore">
                <blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--footer start from here-->

    <div class="copyright">
      <div class="container">
        <div class="col-md-6">
          <p>© 2017 - Informatika UMS</p>
        </div>
        <div class="col-md-6">
          <ul class="bottom_ul">
            <li><a href="#">Informatika UMS 2017</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Faq's</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Site Map</a></li>
          </ul>
        </div>
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/dropdown.js' %}"></script>
    {% block scripts %}
    {% endblock scripts %}



</body>

</html>
