{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block content %}
<div id="page-wrapper">
<div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                        <li>
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                            <li >
                                <i class=""></i> Gallery
                            </li>
                            <li class="active">
                                <i class=""></i> Tambah Gallery
                            </li>
                        </ol>
                        <h1 class="page-header">
                            Manajemen Password <small>Pengubahan Password Admin</small>
                        </h1>
                    </div>
                    <div class="col-lg-12">
                     {% if messages %}
              <div class="alert alert-success">

                  {% for messages in messages %}
                  <strong> {% if messages.tags %} {% endif %} {{messages}} </strong>
                  {% endfor %}

              </div>
              {% endif %}

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <i class="fa fa-edit fa-fw"></i> Penggantian Password
                    </div>

                    <div class="panel-body">
                        <form method="POST" action="" enctype="multipart/form-data">

                            {% csrf_token %}
                            {{ form_password | crispy }}
                            <input type="submit" class="btn btn-primary" value="Ganti">
                            <!--<script>alert("Terima Kasih sudah mendaftar beasiswa, {{ user }}")</script>-->

                        </form>
                    </div>

                </div>

                    </div>



                </div>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>

    <!-- /#wrapper -->
{% endblock content %}
