{% extends 'dashboard/base.html'%}
{% load staticfiles %}


        {% block content %}

        <div id="page-wrapper">
        <div class="col-lg-8">
        <div class="panel panel-primary">
        <div class="panel-header">
        
        </div>
        <div class="panel-body">
        <h4>Selamat, datang di dashboard Admin </h4>
        <ul>
        	<li>Semua pengaturan website informatika, ada di dashboard ini</li>
        </ul>
        </div>
        </div>
        </div>

            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
        {% endblock content %}
    
    <!-- /#wrapper -->


    <!-- Bootstrap Core JavaScript -->
    

