{% extends 'dashboard/base.html' %}
{% load staticfiles %}


{% block content %}
<div id="page-wrapper">
<div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                        <li>
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                            <li >
                                <i class=""></i> Berita
                            </li>
                            <li class="active">
                                <i class=""></i> {{obj.judul}}
                            </li>
                        </ol>
                        <h1 class="page-header">
                           {{obj.judul}} <small>Posted {{obj.timestamp|date:"d M Y"}}</small>
                        </h1>
                    </div>


                    <div class="col-md-12">

                    <div class="col-md-5">
                    {% if obj.image %}
                        <img class="img-responsive" src="{{obj.image.url}}">
                        {% endif %}
                        <p>{{obj.content}}</p>
                    </div>

                    </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>

    <!-- /#wrapper -->
{% endblock content %}
